<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.acemanager.dao.rental.basic.RentalHouseMapper">
	<resultMap id="BaseResultMap" type="com.ace.acemanager.pojo.RentalHouse">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="community_id" property="communityId" jdbcType="INTEGER" />
		<result column="building" property="building" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="floor" property="floor" jdbcType="VARCHAR" />
		<result column="no" property="no" jdbcType="VARCHAR" />
		<result column="in_renovation" property="inRenovation" jdbcType="VARCHAR" />
		<result column="decoration_start_time" property="decorationStartTime" jdbcType="TIMESTAMP" />
		<result column="decoration_end_time" property="decorationEndTime" jdbcType="TIMESTAMP" />
		<result column="rental_type" property="rentalType" jdbcType="VARCHAR" />
		<result column="room_count" property="roomCount" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
		<result column="manager_user_id" property="managerUserId" jdbcType="INTEGER" />
		<result column="is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="BaseResultMap_alias" type="com.ace.acemanager.pojo.RentalHouse">
		<id column="h_id" property="id" jdbcType="INTEGER" />
		<result column="h_community_id" property="communityId" jdbcType="INTEGER" />
		<result column="h_building" property="building" jdbcType="VARCHAR" />
		<result column="h_unit" property="unit" jdbcType="VARCHAR" />
		<result column="h_floor" property="floor" jdbcType="VARCHAR" />
		<result column="h_no" property="no" jdbcType="VARCHAR" />
		<result column="h_in_renovation" property="inRenovation" jdbcType="VARCHAR" />
		<result column="h_decoration_start_time" property="decorationStartTime" jdbcType="TIMESTAMP" />
		<result column="h_decoration_end_time" property="decorationEndTime" jdbcType="TIMESTAMP" />
		<result column="h_rental_type" property="rentalType" jdbcType="VARCHAR" />
		<result column="h_room_count" property="roomCount" jdbcType="INTEGER" />
		<result column="h_remark" property="remark" jdbcType="VARCHAR" />
		<result column="h_status" property="status" jdbcType="VARCHAR" />
		<result column="h_create_user_id" property="createUserId" jdbcType="INTEGER" />
		<result column="h_manager_user_id" property="managerUserId" jdbcType="INTEGER" />
		<result column="h_is_delete" property="isDelete" jdbcType="INTEGER" />
		<result column="h_modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
		<result column="h_create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap type="RentalHouse" id="houseResultMap" extends="BaseResultMap_alias">
		<association property="community" javaType="RentalCommunity" 
					 resultMap="com.ace.acemanager.dao.rental.basic.RentalCommunityMapper.BaseResultMap"></association>
	</resultMap>
	
	<sql id="Base_Column_List">
		id, community_id, building, unit, floor, no, in_renovation, decoration_start_time,
		decoration_end_time, rental_type, room_count, remark, status, create_user_id, manager_user_id,is_delete,
		modified_time, create_time
	</sql>
	
	<!-- 根据主键id查询房源 -->
	<select id="getHouseById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from rental_house
		where is_delete = 0 and id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 根据主键id删除房源 -->
	<delete id="deleteHouseById" parameterType="java.lang.Integer">
		delete from rental_house
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<!-- 根据主键id删除房源(可逆) -->
	<update id="deleteHouseByIdReversibly" parameterType="java.lang.Integer">
		update rental_house set is_delete = 1,modified_time = NOW() where id = #{id}	
	</update>
	
	<!-- 增加房源 -->
	<insert id="addHouse" parameterType="com.ace.acemanager.pojo.RentalHouse">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into rental_house
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="communityId != null">
				community_id,
			</if>
			<if test="building != null">
				building,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="floor != null">
				floor,
			</if>
			<if test="no != null">
				no,
			</if>
			<if test="inRenovation != null">
				in_renovation,
			</if>
			<if test="decorationStartTime != null">
				decoration_start_time,
			</if>
			<if test="decorationEndTime != null">
				decoration_end_time,
			</if>
			<if test="rentalType != null">
				rental_type,
			</if>
			<if test="roomCount != null">
				room_count,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="managerUserId != null">
				manager_user_id,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="communityId != null">
				#{communityId,jdbcType=INTEGER},
			</if>
			<if test="building != null">
				#{building,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
			<if test="floor != null">
				#{floor,jdbcType=VARCHAR},
			</if>
			<if test="no != null">
				#{no,jdbcType=VARCHAR},
			</if>
			<if test="inRenovation != null">
				#{inRenovation,jdbcType=VARCHAR},
			</if>
			<if test="decorationStartTime != null">
				#{decorationStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="decorationEndTime != null">
				#{decorationEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="rentalType != null">
				#{rentalType,jdbcType=VARCHAR},
			</if>
			<if test="roomCount != null">
				#{roomCount,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=INTEGER},
			</if>
			<if test="managerUserId != null">
				#{managerUserId,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<!-- 根据主键修改房源 -->
	<update id="updateHouseById" parameterType="com.ace.acemanager.pojo.RentalHouse">
		update rental_house
		<set>
			<if test="communityId != null">
				community_id = #{communityId,jdbcType=INTEGER},
			</if>
			<if test="building != null">
				building = #{building,jdbcType=VARCHAR},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
			<if test="floor != null">
				floor = #{floor,jdbcType=VARCHAR},
			</if>
			<if test="no != null">
				no = #{no,jdbcType=VARCHAR},
			</if>
			<if test="inRenovation != null">
				in_renovation = #{inRenovation,jdbcType=VARCHAR},
			</if>
				decoration_start_time = #{decorationStartTime,jdbcType=TIMESTAMP},
				decoration_end_time = #{decorationEndTime,jdbcType=TIMESTAMP},
			<if test="rentalType != null">
				rental_type = #{rentalType,jdbcType=VARCHAR},
			</if>
			<if test="roomCount != null">
				room_count = #{roomCount,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=INTEGER},
			</if>
			<if test="managerUserId != null">
				manager_user_id = #{managerUserId,jdbcType=INTEGER},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 获取房源列表 -->
	<select id="getHouseList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from rental_house where is_delete = 0
	</select>
	
	<!-- 获取当前用户 在指定小区下的房源列表 -->
	<select id="getHouseListByCommunityIdAndUserId" resultMap="BaseResultMap">
		SELECT h.* FROM rental_house__user hu 
		  INNER JOIN rental_house h ON hu.house_id = h.id 
		  INNER JOIN rental_community c ON h.community_id = c.id 
		WHERE hu.user_id = #{userId} AND c.id = #{communityId} AND h.is_delete = 0
	</select>

	<!-- 获取当前用户下的房源列表 -->
	<select id="getHouseListByUserId" resultMap="BaseResultMap" parameterType="Int">
		SELECT h.* FROM rental_house__user hu 
		  INNER JOIN rental_house h ON hu.house_id = h.id 
		  INNER JOIN rental_community c ON h.community_id = c.id 
		WHERE hu.user_id = #{userId} AND h.is_delete = 0
	</select>	
	
	<!-- 根据房源ID查询房源详情 -->
	<select id="getHouseDetailByHouseId" parameterType="RentalHouse" resultMap="houseResultMap">
		SELECT 
	       h.id AS h_id,
	       h.community_id AS h_community_id,
	       h.building AS h_building,
	       h.unit AS h_unit,
	       h.floor AS h_floor,
	       h.no AS h_no,
	       h.in_renovation AS h_in_renovation,
	       h.decoration_start_time AS h_decoration_start_time,
	       h.decoration_end_time AS h_decoration_end_time,
	       h.rental_type AS h_rental_type,
	       h.room_count AS h_room_count,
	       h.remark AS h_remark,
	       h.status AS h_status,
	       h.create_user_id AS h_create_user_id,
	       h.manager_user_id AS h_manager_user_id,
	       h.is_delete AS h_is_delete,
	       h.modified_time AS h_modified_time,
	       h.create_time AS h_create_time,
	       c.*      
		 FROM rental_community c INNER JOIN rental_house h
		 ON c.id = h.community_id
		WHERE h.id = #{id}	
	</select>
	
	<!-- 获取指定房源下的生效的业主(托管)合同数量 -->
	<select id="getEffectOwnnerContractsCountByHouseId" parameterType="Int" resultType="Int">
		SELECT COUNT(*) FROM rental_contract c WHERE c.house_id = #{houseId} AND c.status = '生效';
	</select>
	
	<!-- 获取指定房源下的所有房间的生效的租客合同数量 -->
	<select id="getEffectRenterContractsCountByHouseId" parameterType="Int" resultType="Int">
		SELECT COUNT(*) FROM rental_contract c WHERE c.status = '生效' 
			AND c.room_id IN (SELECT r.id FROM rental_room r WHERE r.house_id = #{houseId});		
	</select>
	
	<!-- 改变指定房源的状态 -->
	<update id="changeHouseStatus">
		update rental_house set status = #{status},modified_time = NOW() where id = #{houseId}
	</update>
	
	<!--  -->
	<select id="getHouseByCommIdAndHouseAddress" parameterType="com.ace.acemanager.pojo.RentalHouse" resultMap="BaseResultMap">
		SELECT h.* FROM rental_house h 
 		 WHERE h.community_id = #{communityId} AND h.building = #{building} 
 		 AND h.unit = #{unit} AND h.floor = #{floor} AND h.no = #{no}
	</select>
	
	
		<resultMap id="SuperResultMap" type="com.ace.acemanager.pojo.RentalHouse">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="community_id" property="communityId" jdbcType="INTEGER" />
		<result column="building" property="building" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="floor" property="floor" jdbcType="VARCHAR" />
		<result column="no" property="no" jdbcType="VARCHAR" />
		
		<collection property="users" ofType="User">
			<id property="id" column="u_id"></id>
			<result property="name" column="u_name"/>
		</collection>
	</resultMap>
	
	<!--  -->
	<select id="getRentalHousesByCascade" parameterType="RentalHouse" resultMap="SuperResultMap">
	SELECT
	h.*,u.id as u_id,u.name as u_name
	FROM
	rental_house h
	INNER JOIN rental_house__user hu
	ON hu.house_id = h.id
	INNER JOIN auth_user u
	ON u.id = hu.user_id
	WHERE h.manager_user_id = #{managerUserId}
	AND h.community_id = #{communityId}
	AND h.is_delete = 0
	</select>
	
	
	
</mapper>