<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.acemanager.dao.rental.contract.RentalInfoMapper">
    <resultMap id="BaseResultMap" type="com.ace.acemanager.pojo.RentalInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rent_money" property="rentMoney" jdbcType="FLOAT"/>
        <result column="rent_start_time" property="rentStartTime" jdbcType="TIMESTAMP"/>
        <result column="rent_end_time" property="rentEndTime" jdbcType="TIMESTAMP"/>
        <result column="contract_id" property="contractId" jdbcType="INTEGER"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, rent_money, rent_start_time, rent_end_time, contract_id, modified_time, create_time
    </sql>

    <select id="getRentalInfoListByContractId" resultMap="BaseResultMap">
        SELECT *
        FROM rental_info ri
        WHERE ri.contract_id = #{contractId}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from rental_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM rental_info
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByContractId" parameterType="java.lang.Integer">
        DELETE ri FROM rental_info ri WHERE ri.contract_id = #{contractID , jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.ace.acemanager.pojo.RentalInfo">
        insert into rental_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="rentMoney != null">
                rent_money,
            </if>
            <if test="rentStartTime != null">
                rent_start_time,
            </if>
            <if test="rentEndTime != null">
                rent_end_time,
            </if>
            <if test="contractId != null">
                contract_id,
            </if>
            modified_time,
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="rentMoney != null">
                #{rentMoney,jdbcType=INTEGER},
            </if>
            <if test="rentStartTime != null">
                #{rentStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rentEndTime != null">
                #{rentEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rentEndTime != null">
                #{contractId,jdbcType=TIMESTAMP},
            </if>
            NOW(),
            NOW(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ace.acemanager.pojo.RentalInfo">
        update rental_info
        <set>
            <if test="rentMoney != null">
                rent_money = #{rentMoney,jdbcType=INTEGER},
            </if>
            <if test="rentStartTime != null">
                rent_start_time = #{rentStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="rentEndTime != null">
                rent_end_time = #{rentEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contractId != null">
                contract_id = #{contractId,jdbcType=TIMESTAMP},
            </if>
            modified_time = NOW(),

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ace.acemanager.pojo.RentalInfo">
        UPDATE rental_info
        SET rent_money      = #{rentMoney,jdbcType=INTEGER},
            rent_start_time = #{rentStartTime,jdbcType=TIMESTAMP},
            rent_end_time   = #{rentEndTime,jdbcType=TIMESTAMP},
            contract_id     = #{contractId,jdbcType=INTEGER},
            modified_time   = NOW()
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insertList" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        <choose>
            <when test="list != null and list.size() > 0">
                insert into rental_info
                (rent_money, rent_start_time, rent_end_time, contract_id, modified_time, create_time)
                values
                <foreach collection="list" item="item" index="index" separator=",">
                    (
                    #{item.rentMoney,jdbcType=INTEGER},
                    #{item.rentStartTime,jdbcType=TIMESTAMP},
                    #{item.rentEndTime,jdbcType=TIMESTAMP},
                    #{item.contractId,jdbcType=INTEGER},
                    NOW(),
                    NOW()
                    )
                </foreach>
            </when>
            <otherwise>
                select -1
            </otherwise>
        </choose>
    </insert>
</mapper>