<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.acemanager.dao.rental.basic.RentalCommunityMapper">

	<resultMap id="BaseResultMap" type="com.ace.acemanager.pojo.RentalCommunity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="community_name" property="communityName" jdbcType="VARCHAR" />
		<result column="community_address" property="communityAddress" jdbcType="VARCHAR" />
		<result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap type="com.ace.acemanager.pojo.RentalCommunity" id="proAndCityRstMap">
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, province, city, area, community_name, community_address, modified_time, create_time
	</sql>
	
	<!-- 根据主键查询小区 -->
	<select id="getCommunityById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from rental_community
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 根据主键删除小区 -->
	<delete id="deleteCommunityById" parameterType="java.lang.Integer">
		delete from rental_community
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 增加小区 -->
	<insert id="addCommunity" parameterType="com.ace.acemanager.pojo.RentalCommunity">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into rental_community
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			
				area,
			
			<if test="communityName != null">
				community_name,
			</if>
			<if test="communityAddress != null">
				community_address,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="area == null">
				'',
			</if>
			<if test="communityName != null">
				#{communityName,jdbcType=VARCHAR},
			</if>
			<if test="communityAddress != null">
				#{communityAddress,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<!-- 根据主键更新小区 -->
	<update id="updateCommunityById" parameterType="com.ace.acemanager.pojo.RentalCommunity">
		update rental_community
		<set>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				area = #{area,jdbcType=VARCHAR},
			</if>
			<if test="area == null">
				area = '',
			</if>
			<if test="communityName != null">
				community_name = #{communityName,jdbcType=VARCHAR},
			</if>
			<if test="communityAddress != null">
				community_address = #{communityAddress,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 查询小区列表 -->
	<select id="getCommunityList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from rental_community
	</select>
	
	<!-- 查询分配到指定用户下的小区列表 -->
	<select id="getCommunityListByUserId" resultMap="BaseResultMap" parameterType="com.ace.acemanager.pojo.RentalCommunity">
		SELECT DISTINCT
		  c.*
		FROM
		  rental_house__user hu 
		  INNER JOIN rental_house h 
		    ON hu.house_id = h.id 
		  INNER JOIN rental_community c 
		    ON h.community_id = c.id 
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null">
				AND hu.user_id = #{userId}
			</if>
			<if test="province != null">
				AND c.province = #{province}
			</if>
			<if test="city != null">
				AND c.city = #{city}
			</if>
		</trim>    
		AND h.is_delete = 0
	</select>
	
	<!-- 获取所有小区所涉及到的省市 -->
	<select id="getAllProAndCityFromComm" resultMap="proAndCityRstMap">
		SELECT DISTINCT 
			c.province,c.city 
		FROM
		  rental_house__user hu 
		  INNER JOIN rental_house h 
		    ON hu.house_id = h.id 
		  INNER JOIN rental_community c 
		    ON h.community_id = c.id
		WHERE 
			hu.user_id = #{userId} AND h.is_delete = 0
	</select>
	
	<!--  -->
	<select id="getCommunityByAddressAndName" parameterType="com.ace.acemanager.pojo.RentalCommunity" resultMap="BaseResultMap">
		SELECT c.* FROM rental_community c 
	  		WHERE c.province = #{province} AND c.city = #{city} 
	  		AND c.area = #{area} AND c.community_name = #{communityName}
	</select>
	
		<!-- 分页查询主账号id下的校区列表 -->
	<select id="getCommunityListByPage" parameterType="RentalCommunity"
		resultMap="BaseResultMap">
		SELECT
		DISTINCT c.*
		FROM
		rental_community c
		LEFT JOIN rental_house h
		ON c.id = h.`community_id`
		WHERE h.manager_user_id = #{userId} 
		<if test="communityName !=null">
			and c.community_name
			LIKE concat(concat('%',#{communityName}),'%')
		</if>
		LIMIT #{startNum},10
	</select>
	
	<select id="countCommunityListByPage" parameterType="RentalCommunity" resultType="Integer">
		SELECT
		count(DISTINCT c.`id`)
		FROM
		rental_community c
		LEFT JOIN rental_house h
		ON c.id = h.`community_id`
		WHERE h.manager_user_id = #{userId} 
		<if test="communityName !=null">
			and c.community_name
			LIKE concat(concat('%',#{communityName}),'%')
		</if>
	</select>
</mapper>