<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.acemanager.dao.report.StatisticsCashDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ace.acemanager.pojo.StatisticsCashDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cash_date" property="cashDate" jdbcType="TIMESTAMP" />
    <result column="dealer" property="dealer" jdbcType="VARCHAR" />
    <result column="receiver_type" property="receiverType" jdbcType="VARCHAR" />
    <result column="deal_info" property="dealInfo" jdbcType="VARCHAR" />
    <result column="cash_direction" property="cashDirection" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="contract_start_time" property="contractStartTime" jdbcType="TIMESTAMP" />
    <result column="contract_end_time" property="contractEndTime" jdbcType="TIMESTAMP" />
    <result column="cost_money" property="costMoney" jdbcType="REAL" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cash_date, dealer, receiver_type, deal_info, cash_direction, pay_type, contract_start_time, 
    contract_end_time, cost_money, comment, create_time, modified_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from statistics_cash_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from statistics_cash_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ace.acemanager.pojo.StatisticsCashDetail" >
    insert into statistics_cash_detail (id, cash_date, dealer, 
      receiver_type, deal_info, cash_direction, 
      pay_type, contract_start_time, contract_end_time, 
      cost_money, comment, create_time, 
      modified_time)
    values (#{id,jdbcType=INTEGER}, #{cashDate,jdbcType=TIMESTAMP}, #{dealer,jdbcType=VARCHAR}, 
      #{receiverType,jdbcType=VARCHAR}, #{dealInfo,jdbcType=VARCHAR}, #{cashDirection,jdbcType=VARCHAR}, 
      #{payType,jdbcType=VARCHAR}, #{contractStartTime,jdbcType=TIMESTAMP}, #{contractEndTime,jdbcType=TIMESTAMP}, 
      #{costMoney,jdbcType=REAL}, #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ace.acemanager.pojo.StatisticsCashDetail" >
    insert into statistics_cash_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cashDate != null" >
        cash_date,
      </if>
      <if test="dealer != null" >
        dealer,
      </if>
      <if test="receiverType != null" >
        receiver_type,
      </if>
      <if test="dealInfo != null" >
        deal_info,
      </if>
      <if test="cashDirection != null" >
        cash_direction,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="contractStartTime != null" >
        contract_start_time,
      </if>
      <if test="contractEndTime != null" >
        contract_end_time,
      </if>
      <if test="costMoney != null" >
        cost_money,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cashDate != null" >
        #{cashDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dealer != null" >
        #{dealer,jdbcType=VARCHAR},
      </if>
      <if test="receiverType != null" >
        #{receiverType,jdbcType=VARCHAR},
      </if>
      <if test="dealInfo != null" >
        #{dealInfo,jdbcType=VARCHAR},
      </if>
      <if test="cashDirection != null" >
        #{cashDirection,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        #{contractStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndTime != null" >
        #{contractEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="costMoney != null" >
        #{costMoney,jdbcType=REAL},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ace.acemanager.pojo.StatisticsCashDetail" >
    update statistics_cash_detail
    <set >
      <if test="cashDate != null" >
        cash_date = #{cashDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dealer != null" >
        dealer = #{dealer,jdbcType=VARCHAR},
      </if>
      <if test="receiverType != null" >
        receiver_type = #{receiverType,jdbcType=VARCHAR},
      </if>
      <if test="dealInfo != null" >
        deal_info = #{dealInfo,jdbcType=VARCHAR},
      </if>
      <if test="cashDirection != null" >
        cash_direction = #{cashDirection,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        contract_start_time = #{contractStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndTime != null" >
        contract_end_time = #{contractEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="costMoney != null" >
        cost_money = #{costMoney,jdbcType=REAL},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ace.acemanager.pojo.StatisticsCashDetail" >
    update statistics_cash_detail
    set cash_date = #{cashDate,jdbcType=TIMESTAMP},
      dealer = #{dealer,jdbcType=VARCHAR},
      receiver_type = #{receiverType,jdbcType=VARCHAR},
      deal_info = #{dealInfo,jdbcType=VARCHAR},
      cash_direction = #{cashDirection,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      contract_start_time = #{contractStartTime,jdbcType=TIMESTAMP},
      contract_end_time = #{contractEndTime,jdbcType=TIMESTAMP},
      cost_money = #{costMoney,jdbcType=REAL},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>